/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-primary,
.btn-primary:hover
.btn-primary:focus {
  color: #fff;
  text-shadow: 1px 1px 2px rgb(100, 100, 100), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
  background-color: transparent;
  border: .2rem solid #fff;
}


/*
 * Base structure
 */
.cover-heading, .masthead-brand, .lead {
  text-shadow: 1px 1px 2px rgb(5, 5, 5), 0 0 .2em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}
/* h1, 
h3 {
  text-shadow: .02em .02em .1em rgb(87, 87, 87), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
} */

html,
body {
  height: 100%;
  background-color: transparent;
  background-image: url(C:/Users/pahl/Documents/GitHub/Local_Lines_MTB/images/cover.jpg);
  background-size: cover;
  background-position: center;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem 2rem rgba(0, 0, 0, .5);
  /* text-shadow: 1px 1px 2px rgb(212, 212, 212), 0 0 1em rgb(109, 109, 109), 0 0 0.2em rgb(0, 0, 0); */
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * Stuff I added
 */
 @font-face {
  font-family: "60sPop";
  src: url("C:/Users/pahl/Documents/GitHub/Local_Lines_MTB/CSS/fonts/60sPop.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
 @font-face {
  font-family: "HuskyStash-Regular";
  src: url("C:/Users/pahl/Documents/GitHub/Local_Lines_MTB/CSS/fonts/huskystash.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
 @font-face {
  font-family: "Pincoyablack-Black";
  src: url("C:/Users/pahl/Documents/GitHub/Local_Lines_MTB/CSS/fonts/pincoyablack.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mexcellent";
  src: url("C:/Users/pahl/Documents/GitHub/Local_Lines_MTB/CSS/fonts/mexcellent.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vanillawhale";
  src: url("C:/Users/pahl/Documents/GitHub/Local_Lines_MTB/CSS/fonts/vanillawhale.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FargoFaroNF";
  src: url("C:/Users/pahl/Documents/GitHub/Local_Lines_MTB/CSS/fonts/FargoFaroNF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.cover-heading {
  /* font-family: "FargoFaroNF"; */
  /* font-family: "60sPop"; */
  /* font-family: "vanillawhale"; */
  /* font-family: "mexcellent"; */
  /* font-family: "Pincoyablack-Black"; */
  /* font-family: 'Bungee Inline', cursive; */
  font-family: "HuskyStash-Regular";
  font-size: 6em;
}
.masthead-brand {
  /* font-family: "FargoFaroNF"; */
  font-family: "HuskyStash-Regular";
}